<!DOCTYPE html>
<html>
<head>
  <title>Wecome</title>
</head>

<body>

<!-- Main content -->
<h4>Hello, enjoy the dogs video on my super amazing and not ugly page or click <a href="\login">login</a> to use the app</h4>

<h4>Sign up <a href="\signup">here</a> if this is your first time</h4>

<iframe width="760" height="515" src="https://www.youtube.com/embed/EtH9Yllzjcc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>



</body>
</html>